// SPDX-License-Identifier: (GPL-2.0 or MIT)
/*
 * Device Tree Source for the S4 Starter Kit prototype board
 *
 * Copyright (C) 2022 Renesas Electronics Corp.
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include "r8a779f0.dtsi"

/ {
	model = "Renesas S4 Starter Kit prototype board";
	compatible = "renesas,s4sk-prototype", "renesas,r8a779f0";

	aliases {
		serial0 = &hscif0;
		// serial1 = &hscif1;
		eth0	= &rswitch;
	};

	chosen {
		stdout-path = "serial0:921600n8";
	};

	memory@48000000 {
		device_type = "memory";
		/* first 128MB is reserved for secure area. */
		linux,usable-memory = <0x0 0x48000000 0x0 0x38000000>;
	};

	memory@480000000 {
		device_type = "memory";
		reg = <0x4 0x40000000 0x0 0x40000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		cr52_ram: cr52_ram@e2100000 {
			no-map;
			reg = <0x0 0xe2100000 0x0 0x200000>;
		};

		vdev0vring0: vdev0vring0@42000000 {
			no-map;
			reg = <0x0 0x42000000 0x0 0x1000>;
		};

		vdev0vring1: vdev0vring1@42001000 {
			no-map;
			reg = <0x0 0x42001000 0x0 0x1000>;
		};

		vdev0buffer: vdev0buffer@42002000 {
			no-map;
			reg = <0x0 0x42002000 0x0 0x4000>;
		};
	};

	reg_1p8v: regulator-1p8v {
		compatible = "regulator-fixed";
		regulator-name = "fixed-1.8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_3p3v: regulator-3p3v {
		compatible = "regulator-fixed";
		regulator-name = "fixed-3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vcc_sdhi: regulator-vcc-sdhi {
		compatible = "regulator-fixed";

		regulator-name = "SDHI Vcc";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		gpio = <&gpio1 24 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
};

&extal_clk {
	clock-frequency = <20000000>;
};

&extalr_clk {
	clock-frequency = <32768>;
};

&i2c0 {
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;

	gpio_exp_20: gpio@20 {
		compatible = "ti,tca9554";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&i2c5 {
	pinctrl-0 = <&i2c5_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;

	eeprom@50 {
		compatible = "atmel,24c16";
		reg = <0x50>;
		pagesize = <16>;
	};
};

&mmc0 {
	pinctrl-0 = <&sd_pins>;
	pinctrl-1 = <&sd_pins>;
	pinctrl-names = "default", "state_uhs";

	vmmc-supply = <&vcc_sdhi>;
	vqmmc-supply = <&vcc_sdhi>;
	cd-gpios = <&gpio1 23 GPIO_ACTIVE_LOW>;
	bus-width = <4>;
	status = "okay";
};

&pfc {
	pinctrl-0 = <&scif_clk_pins>;
	pinctrl-names = "default";

	i2c0_pins: i2c0 {
		groups = "i2c0";
		function = "i2c0";
	};

	i2c5_pins: i2c5 {
		groups = "i2c5";
		function = "i2c5";
	};

	sd_pins: sd {
		groups = "mmc_data4", "mmc_ctrl";
		function = "mmc";
		power-source = <3300>;
	};

	qspi0_pins: qspi0 {
		groups = "qspi0_ctrl", "qspi0_data4";
		function = "qspi0";
	};

	scif0_pins: scif0 {
		groups = "scif0_data", "scif0_ctrl";
		function = "scif0";
	};

	hscif0_pins: hscif0 {
		groups = "hscif0_data", "hscif0_ctrl";
		function = "hscif0";
	};

	hscif1_pins: hscif1 {
		groups = "hscif1_data", "hscif1_ctrl";
		function = "hscif1";
	};

	scif_clk_pins: scif_clk {
		groups = "scif_clk";
		function = "scif_clk";
	};

	pcie0_pins: pcie0 {
		groups = "pcie0_clkreq_n";
		function = "pcie";
	};

	pcie1_pins: pcie1 {
		groups = "pcie1_clkreq_n";
		function = "pcie";
	};

	tsn0_pins: tsn0 {
		mux {
			groups = "tsn0_link", "tsn0_mdio";
			function = "tsn0";
			drive-strength = <18>;
			power-source = <3300>;
		};

		pins_mdio {
			groups = "tsn0_mdio";
			drive-strength = <18>;
			power-source = <3300>;
		};
	};

	tsn1_pins: tsn1 {
		mux {
			groups = "tsn1_link", "tsn1_mdio";
			function = "tsn1";
			drive-strength = <18>;
			power-source = <3300>;
		};

		pins_mdio {
			groups = "tsn1_mdio";
			drive-strength = <18>;
			power-source = <3300>;
		};
	};
};

&rwdt {
	timeout-sec = <60>;
	status = "okay";
};

&scif0 {
	pinctrl-0 = <&scif0_pins>;
	pinctrl-names = "default";

	uart-has-rtscts;
	/* Please use exclusively to the hscif1 node */
	status = "disabled";
};

&hscif0 {
	pinctrl-0 = <&hscif0_pins>;
	pinctrl-names = "default";

	uart-has-rtscts;
	status = "okay";
};

&hscif1 {
	pinctrl-0 = <&hscif1_pins>;
	pinctrl-names = "default";

	uart-has-rtscts;
	/* Please use exclusively to the scif0 node */
	status = "disabled";
};

&scif_clk {
	clock-frequency = <24000000>;
};

&pcie_bus_clk {
	clock-frequency = <100000000>;
};

&pciec0 {
	status = "okay";
	pinctrl-0 = <&pcie0_pins>;
	pinctrl-names = "default";
};

&pciec0_ep {
	status = "disabled";
	pinctrl-0 = <&pcie0_pins>;
	pinctrl-names = "default";
};

&pciec1 {
	status = "disabled";
	pinctrl-0 = <&pcie1_pins>;
	pinctrl-names = "default";
};

&pciec1_ep {
	status = "disabled";
	pinctrl-0 = <&pcie1_pins>;
	pinctrl-names = "default";
};

&rswitch {
	status = "okay";
	pinctrl-0 = <&tsn0_pins &tsn1_pins>;
	pinctrl-names = "default";
	#address-cells = <1>;
	#size-cells = <0>;

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		tsn0: port@0 {
			reg = <0>;
			phy-mode = "usxgmii";
			phy-handle = <&etha0>;
			#address-cells = <1>;
			#size-cells = <0>;
			etha0: ethernet-phy@0 {
				reg = <1>;
				compatible = "ethernet-phy-ieee802.3-c45";
			};
		};
		tsn1: port@1 {
			reg = <1>;
			phy-mode = "usxgmii";
			phy-handle = <&etha1>;
			#address-cells = <1>;
			#size-cells = <0>;
			etha1: ethernet-phy@1 {
				reg = <2>;
				compatible = "ethernet-phy-ieee802.3-c45";
			};
		};
	};
};

&cr52_rproc {
	memory-region = <&cr52_ram>, <&vdev0vring0>, <&vdev0vring1>, <&vdev0buffer>;
	mboxes = <&mfis 0>, <&mfis 1>;
	mbox-names = "tx", "rx";
	rcar,syscfg-rsc-tbl = <&mfisarembr 0x0 0xFFFFFFFF>;
	status = "okay";
};
